*{
    border : none;
   
}


body {

    background-color: rgba(0, 0, 0, 0.829)

}


.wrpr{
    display: grid;
    grid-auto-columns: 1fr;
    gap:10px;
    grid-template-areas: 'one two two';
    width: 95vw;
    height:95vh;
    margin: auto;
    margin-top: 20px;  
    border-radius: 30px;
    overflow: visible;
    background-color:rgba(0, 0, 0, 0.136);
    justify-content: space-between;
    align-items: center;    
}

.wrpr h1{

    padding-left: 25px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0;
}

@media (max-width:500px){

    .wrpr h1{
      padding-right: 20px;
      
    }

    .js-editor h1{
        padding-left:30px
    }
  
  }

.code{
  width: 100%;
  height: 100%;
  display :grid;
  grid-area: one ;
  background-color: rgba(105, 102, 102, 0.7);
  border-radius: 20px;
  

}


.code textarea{

    width:90%;
    height: 70%;
    margin: auto;
    grid-area: code;
    padding-top: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.238);
    color: white;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
}

.code textarea::-webkit-scrollbar{
    width: 0.4rem;
  }

  .code textarea::-webkit-scrollbar-thumb{
    background-color: rgb(255, 253, 253);
    border-radius: .4rem;
  }

.code div{

 background-color: rgba(0, 0, 0, 0.136);
 border-radius:30px;
 margin:10px;
 display: grid;
 grid-auto-rows: 0.5fr;
 grid-template-areas:'logo' 'code' 'code' 'code' 'code' ;
 box-shadow: 0 0 35px 4px rgba(0, 0, 0, 0.829);

}


.result{

 background-color: white;
 grid-area: two;
 height: 100%;

}

.result iframe{

    width: 100%;
    height: 100%;
}


